<h1>Task manager</h1>
<p>lets organaized your day</p>

<% tasks =  ['ror practice', 'controller and views', 'football match to watch', 'excersie'] %>
<ul>
<%tasks.each do |task|%>
<li><%= task%></li>
<%end%>
</ul>